* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

/* HEADER */
header {
    background: black;
    text-align: center;
    color: white;
}

img {
    width: 200px;
}

h1 {
    padding: 0px 20% 15px;
    text-align: left;
    font-size: 2em;
}

nav {
    width: 60%;
    background-color: #DCB513;
    text-align: right;
    margin: 0 20%;
    line-height: 3em;
}

a {
    text-decoration: none;
    color:white;
    padding: 0 10px;
}

a:hover {
    text-decoration: underline;
    color: black;
}

/* MAINAS */
main {
    text-align: justify;
    
}

div#about {
    background:white;
    padding: 0 20% 10px;
    
}

h2 {
    font-size: 1.5em;
    padding: 20px 0 10px 0;
}

p {
    margin: 0 0 10px 0;
}

button {
    background-color: #E50202;
    display: block;
    color: white;
    border: none;
    font-family: times;
    text-decoration: underline;
    border-radius: 10px;
    line-height: 2em;
    width: 150px;
    margin: 0 auto;
}

div#tables {
    padding: 0 20% 15px;
    background:#01174B;
    color: white;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

td, th {
    border-style: solid;
    border-color: red;
    line-height: 2em;   
}

th {
    line-height: 1.3em;
}

td:nth-child(2n), td:last-child{
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
}

div#contacts {
    background:white;
    padding: 0 20%;
}

ul {
    padding: 0 40px 15px;
}

a#email {
    color: black;
    text-decoration: none;
    padding: 0;
}

a#email:hover {
    text-decoration: underline;
}

footer {
    
    line-height: 2em;
}
p.copyright {
    padding: 0 20% 15px;
    background: #DCB513;
    text-align: center;
    color: white;
}

a#up{
    display: block;
    text-decoration: underline;
    color:black;
    padding: 0 20% 15px;
    text-align: center;
}

a#up:visited{
    color:blue
}
